<!DOCTYPE html>
<head>
    <title>debugbar</title>
    <style>#fldb,#fldb-btn::after,#fldb-btn::before{background:#fff;transition:transform .3s ease}#fldb,#fldb-btn{transition:transform .3s ease}.fldb-blk-dl dd:after,.fldb-blk-metrics:after{content:"";clear:both}body.fldb-open{overflow:hidden}.fldb-scroll-x{display:block;overflow-x:auto;overflow-y:visible;margin:0;width:100%;height:auto;border:none;padding:0}#fldb-header,#fldb-menu{overflow:hidden;color:#fff}#fldb-btn,#fldb-header{height:30px;background:#555;position:absolute;left:0}#fldb{overflow:visible;position:fixed;bottom:0;left:0;width:100vw;height:100vh;color:#333;font-size:16px;line-height:1.5em;transform:translateY(100%)}#fldb-header,.fldb-menu-item{line-height:30px;box-sizing:border-box}.fldb-open #fldb{transform:translateY(0)}#fldb-btn{z-index:310;top:-30px;display:flex;justify-content:center;align-items:center;width:30px;opacity:.8;cursor:pointer}#fldb-btn:hover{opacity:1}#fldb-btn::after,#fldb-btn::before{position:absolute;content:"";display:block;width:50%;height:13%}#fldb-btn::before{transform:translateX(-26%) rotate(-45deg)}#fldb-btn::after{transform:translateX(26%) rotate(45deg)}.fldb-open #fldb-btn{transform:translateY(30px)}.fldb-open #fldb-btn::before{transform:translateX(-26%) rotate(45deg)}.fldb-open #fldb-btn::after{transform:translateX(26%) rotate(-45deg)}#fldb-header{top:0;width:100%;padding:0 0 0 35px;font-size:20px}#fldb-menu{position:absolute;top:30px;left:0;width:200px;height:calc(100% - 30px);background-color:#555}#fldb-menu-items{display:block;overflow-x:hidden;overflow-y:scroll;margin:0;width:calc(100% + 17px);height:100%;border:0;padding:0;list-style:none}.fldb-menu-item{display:block;margin:0;width:100%;height:30px;padding:0 0 0 35px;font-size:18px;cursor:pointer;transition:all .3s ease}.fldb-menu-item.fldb-select,.fldb-menu-item:hover{background:#fff;color:#555}#fldb-body{overflow:auto;position:absolute;top:30px;left:0;width:calc(100% - 200px);height:calc(100% - 30px);background:#eee;transition:transform .3s ease;transform:translateX(200px)}@media screen and (max-width:700px){ #fldb-body{width:calc(100% - 30px);min-width:320px;transform:translateX(30px)}#fldb-menu:hover+#fldb-body{transform:translateX(200px)}}.fldb-body-panel{display:none;overflow:visible;margin:10px auto 0;width:100%;height:auto}.fldb-body-panel.fldb-select{display:block}.fldb-body-panel>section{box-sizing:border-box;margin:0;width:100%;height:auto;padding:0 2% 10px}.fldb-blk-list{display:block;margin:0;width:100%;height:auto;border:0;padding:0;list-style:none}.fldb-blk-list li{position:relative;display:block;margin:0;width:100%;height:auto;min-height:1.5em;border-width:1px 1px 0;border-style:solid;border-color:#ddd;padding:5px;box-sizing:content-box;background:#fff;font-size:1em;line-height:1.5em;transition:all .3s ease}.fldb-blk-list li:last-child{border-bottom:1px #ddd solid}.fldb-blk-list.fldb-blk-list_message li span:first-child{position:absolute;top:.25em;left:.5em}.fldb-blk-list.fldb-blk-list_message li span:last-child{position:relative;top:0;left:2em}.fldb-blk-list.fldb-blk-list_timeline li div:first-child{position:absolute;top:10%;margin:0;height:80%;background:#4be}.fldb-blk-list.fldb-blk-list_timeline li div:last-child{position:absolute;top:0;left:0;width:100%;height:100%;font-size:.8em}.fldb-blk-list.fldb-blk-list_dump li div:first-child{margin:0;width:100%;height:1.2em;font-size:.6em;line-height:1.2em;color:#888}.fldb-blk-list.fldb-blk-list_dump li div:last-child{box-sizing:border-box;margin:0;width:100%;height:auto;padding:.5em 2%;font-size:.8em;line-height:1.2em}.fldb-blk-list.fldb-blk-list_dump li div:last-child pre{margin:0;width:100%;height:auto;padding:0}.fldb-blk-metrics{display:block;margin:0;width:100%;height:auto;border:0;padding:0;list-style:none}.fldb-blk-metrics:after{display:block}.fldb-blk-metrics li{float:left;display:block;margin:0 1em 1em 0;width:auto;height:70px;padding:0;box-sizing:content-box;background:#fff}.fldb-blk-metrics li>div{display:none}.fldb-blk-metrics li>div:first-child,.fldb-blk-metrics li>div:last-child{display:block;margin:0;width:auto;box-sizing:border-box;box-shadow:0 0 1px #ddd;white-space:nowrap}.fldb-blk-metrics li>div:first-child{height:50px;padding:10px;text-align:center;font-size:26px;line-height:30px}.fldb-blk-metrics li>div:first-child :not(:first-child){color:#999;font-size:16px}.fldb-blk-metrics li>div:last-child{height:20px;padding:0 10px;background:#ddd;text-align:center;font-size:12px;line-height:20px}.fldb-blk-tabs{position:relative;width:100%;height:auto;padding:0 0 30px}.fldb-blk-tabs>input{display:none}.fldb-blk-tabs>label{float:left;display:block;width:100%;box-shadow:0 0 1px #ddd;background:#fff;text-align:center;transition:background .2s ease}.fldb-blk-tabs>label:nth-last-of-type(2),.fldb-blk-tabs>label:nth-last-of-type(2)~label{width:calc(100% / 2)}.fldb-blk-tabs>label:nth-last-of-type(3),.fldb-blk-tabs>label:nth-last-of-type(3)~label{width:calc(100% / 3)}.fldb-blk-tabs>label:nth-last-of-type(4),.fldb-blk-tabs>label:nth-last-of-type(4)~label{width:calc(100% / 4)}.fldb-blk-tabs>label:nth-last-of-type(5),.fldb-blk-tabs>label:nth-last-of-type(5)~label{width:calc(100% / 5)}.fldb-blk-tabs>label:nth-last-of-type(6),.fldb-blk-tabs>label:nth-last-of-type(6)~label{width:calc(100% / 6)}.fldb-blk-tabs>label:nth-last-of-type(7),.fldb-blk-tabs>label:nth-last-of-type(7)~label{width:calc(100% / 7)}.fldb-blk-tabs>label:nth-last-of-type(8),.fldb-blk-tabs>label:nth-last-of-type(8)~label{width:calc(100% / 8)}.fldb-blk-tabs>input:not(:checked)+label:hover{background:#eee}.fldb-blk-tabs>div{position:relative;top:30px;left:0;display:none;width:100%;height:auto}.fldb-blk-tabs>input:checked+label{background:#666;color:#fff}.fldb-blk-tabs>input:nth-of-type(1):checked~div:nth-of-type(1),.fldb-blk-tabs>input:nth-of-type(2):checked~div:nth-of-type(2),.fldb-blk-tabs>input:nth-of-type(3):checked~div:nth-of-type(3),.fldb-blk-tabs>input:nth-of-type(4):checked~div:nth-of-type(4),.fldb-blk-tabs>input:nth-of-type(5):checked~div:nth-of-type(5),.fldb-blk-tabs>input:nth-of-type(6):checked~div:nth-of-type(6),.fldb-blk-tabs>input:nth-of-type(7):checked~div:nth-of-type(7),.fldb-blk-tabs>input:nth-of-type(8):checked~div:nth-of-type(8){display:block}.fldb-blk-tabsle{width:100%;height:auto;border:1px solid #ddd;border-collapse:collapse;border-spacing:0;box-sizing:border-box;font-size:1em;white-space:nowrap}.fldb-blk-tabsle thead{min-width:100%;background:#ddd;text-align:left}.fldb-blk-tabsle tbody{min-width:100%;background:#fff;font-size:.8em}.fldb-blk-tabsle tr{border-width:0 0 1px;border-color:#ddd;border-style:solid}.fldb-blk-tabsle tr:last-child{border-bottom:0}.fldb-blk-tabsle tr>*{border:none}.fldb-blk-tabsle th{font-weight:700}.fldb-blk-tabsle td,.fldb-blk-tabsle th{padding:5px 10px}.fldb-blk-phpinfo table{width:100%;border:0;border-collapse:collapse;box-shadow:1px 2px 3px #ccc;margin:1em auto}.fldb-blk-dl,.fldb-blk-dl dt{margin:0;padding:0;height:auto}.fldb-blk-phpinfo th{text-align:center}.fldb-blk-phpinfo td,.fldb-blk-phpinfo th{border:1px solid #666;font-size:75%;vertical-align:baseline;padding:4px 5px}.fldb-blk-phpinfo h1{font-size:150%}.fldb-blk-phpinfo h2{font-size:125%}.fldb-blk-phpinfo .p{text-align:left}.fldb-blk-phpinfo .e{background-color:#ccf;width:250px;font-weight:700}.fldb-blk-phpinfo .h{background-color:#99c;font-weight:700}.fldb-blk-phpinfo .v{background-color:#ddd;max-width:300px;overflow-x:auto;word-wrap:break-word}.fldb-blk-phpinfo .v i{color:#999}.fldb-blk-phpinfo img{float:right;border:0}.fldb-blk-phpinfo hr{width:90%;height:1px;border:0;background-color:#ccc}.fldb-blk-dl{width:100%;border:1px solid #ddd;background:#ddd}.fldb-blk-dl dt{float:left;width:30%;border-top:1px #fff solid}.fldb-blk-dl dd{box-sizing:border-box;margin:0 0 0 30%;width:70%;height:auto;border-top:1px #ddd solid;padding:5px;background:#fff}.fldb-blk-dl dd:first-of-type,.fldb-blk-dl dt:first-of-type{border:none}.fldb-icon-check::before,.fldb-icon-warn{border-style:solid;box-sizing:border-box}.fldb-blk-dl dd:after{display:block}.fldb-icon-check,.fldb-icon-cross,.fldb-icon-error,.fldb-icon-info,.fldb-icon-null,.fldb-icon-warn{position:relative;display:inline-block;width:1.5em;height:1.5em;vertical-align:top}.fldb-icon-check::before,.fldb-icon-cross::after,.fldb-icon-cross::before,.fldb-icon-error::after,.fldb-icon-error::before,.fldb-icon-info::after,.fldb-icon-info::before,.fldb-icon-warn::after,.fldb-icon-warn::before{position:absolute;display:block;content:""}.fldb-icon-info{background:#37b}.fldb-icon-info::after,.fldb-icon-info::before{left:42.5%;background:#fff}.fldb-icon-info::before{top:10%;width:15%;height:15%;border-radius:50%}.fldb-icon-info::after{top:35%;width:15%;height:55%}.fldb-icon-warn{border-color:transparent transparent #ea5;border-width:.2em .75em 1.3em}.fldb-icon-warn::after,.fldb-icon-warn::before{top:0;left:0;background:#555}.fldb-icon-warn::before{width:.2em;height:.6em;transform:translateX(-.1em) translateY(.3em)}.fldb-icon-warn::after{width:.2em;height:.2em;transform:translateX(-.1em) translateY(1em)}.fldb-icon-error{background:#d55;border-radius:50%}.fldb-icon-error::after,.fldb-icon-error::before{top:42.5%;left:10%;width:80%;height:15%;background:#fff}.fldb-icon-error::before{transform:rotate(45deg)}.fldb-icon-error::after{transform:rotate(-45deg)}.fldb-icon-cross::after,.fldb-icon-cross::before{top:40%;left:5%;width:90%;height:20%;background:#d55}.fldb-icon-cross::before{transform:rotate(45deg)}.fldb-icon-cross::after{transform:rotate(-45deg)}.fldb-icon-check::before{top:calc(50% - 15% - .15em);left:calc(50% - 25% - .15em);width:70%;height:40%;border-width:0 0 .3em .3em;border-color:#5d5;transform:rotate(-50deg)}</style>
</head>
<body>
    <div id="fldb">
        <div id="fldb-btn"></div>
        <div id="fldb-header">
            <span>Fratily</span>
        </div>
        <div id="fldb-menu">
            <ul id="fldb-menu-items">
                {% for panel in panels %}
                <li class="fldb-menu-item{% if loop.index == 1 %}{{" fldb-select"}}{% endif %}" data-fldb="{{ loop.index }}">{{ panel.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="fldb-body">
            <div id="fldb-body-wrapper">
                {% for panel in panels %}
                <div class="fldb-body-panel{% if loop.index == 1 %}{{" fldb-select"}}{% endif %}" data-fldb="{{ loop.index }}">
                    {% for blk in panel %}
                    <section>
                        {% if blk.title is not null %}
                        <h2>{{ blk.title }}</h2>
                        {% endif %}
                        {% if blk.template.type == "file" %}
                            {% include blk.template.template with {'blk': blk} only %}
                        {% elseif blk.template.type == "text" %}
                            {% include template_from_string(blk.template.template) with {'blk': blk} only %}
                        {% endif %}
                    </section>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script>
        (function () {
            var openClass   = "fldb-open",
                selectClass = "fldb-select",
                menuItems   = document.getElementsByClassName("fldb-menu-item"),
                menuLen     = menuItems.length,
                panelItems  = document.getElementsByClassName("fldb-body-panel"),
                panelLen    = panelItems.length
            ;

            for (var i = 0; i < menuLen; i++) {
                if (menuItems[i].hasAttribute("data-fldb")) {
                    menuItems[i].addEventListener("click", function () {
                        var tag = this.getAttribute("data-fldb");

                        for(var i = 0; i < menuLen; i++){
                            menuItems[i].classList.remove(selectClass);
                        }

                        for (var i = 0; i < panelLen; i++) {
                            if (panelItems[i].hasAttribute("data-fldb")) {
                                if (tag === panelItems[i].getAttribute("data-fldb")) {
                                    panelItems[i].classList.add(selectClass);
                                } else {
                                    panelItems[i].classList.remove(selectClass);
                                }
                            }
                        }

                        this.classList.add(selectClass);
                    }, false);
                }
            }

            document.getElementById("fldb-btn").addEventListener("click", function () {
                if (document.body) {
                    document.body.classList.toggle(openClass);
                }
            }, false);
        }());
    </script>
</body>