{% set id = blk.id %}
<div class="fldb-blk-tabs">
    {% for tab in blk %}
    <input name="fldb-blk-tabs-{{ id }}" id="fldb-blk-tabs-{{ id }}-{{ tab.name }}" type="radio" {% if loop.index == 1 %}checked{% endif %}>
    <label for="fldb-blk-tabs-{{ id }}-{{ tab.name }}">Metrics</label>
    {% endfor %}
    {% for tab in blk %}
    <div>
        <section>
            {% if tab.block.title is not null %}
            <h2>{{ tab.block.title }}</h2>
            {% endif %}
            {% if tab.block.template.type == "file" %}
                {% include tab.block.template.template with {'blk': tab.block} only %}
            {% elseif tab.block.template.type == "text" %}
                {% include template_from_string(tab.block.template.template) with {'blk': tab.block} only %}
            {% endif %}
        </section>
    </div>
    {% endfor %}
</div>